/* Write your CSS here */
.logout-button {
    padding: 8px 25px;
    border: none;
    border-radius: 8px;
    background-color: #f8fafc;
    color: #303150;
    margin: 10px 0;
    font-size: 18px;
    font-family: 'Roboto';
  }
  